<div class="container" id="about">
  <div class="valign-wrapper about-header">
    <h1>About</h1>
  </div>
  <div class="row">
    <div class="col s12">
      <h5>Lorem</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis odit doloremque reprehenderit maiores deleniti
        eligendi laboriosam vero quisquam quam ullam ipsa quia perferendis eum vel commodi, quis omnis sit.</p>
      <h5>Loremmm</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis odit doloremque reprehenderit maiores deleniti
        eligendi laboriosam vero quisquam quam ullam ipsa quia perferendis eum vel commodi, quis omnis sit.</p>
    </div>
    <div class="col s8 offset-s2">
      <span class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis odit doloremque reprehenderit maiores ad deleniti
        eligendi laboriosam vero quisquam quam ullam ipsa quia perferendis eum vel commodi, quis omnis sit.</span>
    </div>

    <div class="col m4">
      <img class="responsive-img image" src="../assets/img/pastel-girl.jpg">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="col m4">
      <img class="responsive-img image" src="../assets/img/pastel-girl.jpg">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="col m4">
      <img class="responsive-img image" src="../assets/img/pastel-girl.jpg">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
  </div>
</div>
