<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a routerLink="" id="homeLink" class="brand-logo grey-text text-darken-2">EZ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a routerLink="/about" class="grey-text text-darken-2">About</a>
        </li>
        <li>
          <a id="skillsLink" routerLink="/skills" class="grey-text text-darken-2">Skills</a>
        </li>
        <li>
          <a routerLink="/work" class="grey-text text-darken-2">Portfolio</a>
        </li>
        <li>
          <a routerLink="/contact" class="grey-text text-darken-2">Contact</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

