nav {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
}
.patern {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    background: url("../../assets/img/patern.png") repeat center;
    z-index: 1;
}
