<div class="container" id="work">
  <div class="valign-wrapper about-header">
    <h1>Portfolio</h1>
  </div>
    <div class="row">
    <div class="col m4">
      <img class="responsive-img image" src="../assets/img/pastel-girl.jpg">
      <div class="overlay">
        <div class="text">Comoba</div>
      </div>
    </div>
    <div class="col m4">
      <img class="responsive-img image" src="../assets/img/pastel-girl.jpg">
      <div class="overlay">
        <div class="text">Sociologijos akademija</div>
      </div>
    </div>
    <div class="col m4">
      <img class="responsive-img image" src="../assets/img/pastel-girl.jpg">
      <div class="overlay">
        <div class="text">Sporto kadras</div>
      </div>
    </div>
      </div>
</div>
