<div class="valign-wrapper" id="hero"> 
    <div class="carousel">
        <a class="carousel-item" href="#one!" id="one">Angular</a>
        <a class="carousel-item" href="#two!" id="two">CSS</a>
        <a class="carousel-item" href="#three!" id="three">javaScript</a>
        <a class="carousel-item" href="#four!" id="four">Bootstrap</a>
        <a class="carousel-item" href="#five!" id="five">Wordpress</a>
    </div>
    <img class="logo" src="../../assets/img/bootstrap-stack.png" width="200px">
    <img class="logo2" src="../../assets/img/wordpress.png" width="200px">
</div>
