#hero {
    background-color: #ff9bcd;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    height: 50vh;
    justify-content: center;
    .carousel {
        a {
        font-weight: 600;
        font-size: 100px;
        color: #726d6f; 
        font-family: 'Vidaloka', serif;
        text-align: center;
        }       
    }
}

