#hero {
    background-color: #ff9bcd;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    transition: background-color 2s, border-top-left-radius 1s ease-in, border-top-right-radius 1s ease-in;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    height: 50vh;
    display:none;
    h1 {
        margin-top: -38px;
        text-align: center;
        font-weight: 600;
        color: #726d6f;
    }
}
#prog-two, #prog-three, #prog-four, #prog-five,{
    opacity: 0;
    transition: opacity 1s;
}

