

nav {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
}
.patern {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    background: url("../assets/img/patern.png") repeat center;
    z-index: 1;
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 3;
    li {
       margin: 10px 0 0 40px; 
       font-size: 20px;
    }
}
.footer-copyright {
    background-color: rgba(255, 255, 255, 0);
}